<h1>Appraisals</h1>

<%= link_to 'New Appraisal', new_appraisal_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Appraisee</th>
      <th>Appraiser</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @appraisals.each do |appraisal| %>
      <tr>
        <td><%= appraisal.appraisee.name %></td>
        <td><%= appraisal.appraiser.name %></td>
        <td><%= appraisal.status %></td>
        <td>
          <%= link_to 'Show', appraisal, class: 'btn btn-info btn'%>
          <%= link_to 'Edit', edit_appraisal_path(appraisal), class: 'btn btn-warning btn'%>
          <%= link_to 'Delete', appraisal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
