<h1>Employees</h1>

<%=link_to 'New Employee', new_employee_path, class: 'btn btn-primary mb-3'%>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.designation.title %></td>
        <td><%= employee.email %></td>
        <td><%=employee.role%></td>
        <td>
          <%= link_to 'Show', employee, class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-warning' %>
          <%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
